* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #b1b287;
  --secondary-color: #cecfad;
  --background-color: #fcf8f1;
  --text-color: #3b2818;
  --accent-color: #e7e2d4;
}

main {
  background-color: var(--background-color);
}

p {
  max-width: 65ch;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

/* menu */

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #fcf8f1;
  z-index: 20;
}

.logo img {
  width: 200px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

/* Ændret her: Tilføjet font-size for at gøre teksten større */
.menu a {
  display: block;
  padding: 10px;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-weight: 400;
  font-family: "Darumadrop One";
  font-size: 18px; /* Ændret: Sætter fontstørrelsen til 18px */
}

.menu a:hover {
  color: var(--primary-color);
}

.menu a.active {
  text-decoration: underline;
  color: #b1b287;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #fcf8f1;
    position: absolute;
    top: 115px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  .logo img {
    width: 120px;
  }
}

/* menu slut */

/* footer */

a {
  color: var(--text-color);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.h3footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.footer_socials {
  text-align: center;
}

.footer_links {
  list-style: none;
}

.linkfooter img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.footer_logo {
  width: 200px;
  margin-inline: auto;
}

.footer_container {
  padding: 25px;
  padding-block: 30px;
  background-color: var(--secondary-color);
}

.instagram_icon,
.facebook_icon,
.linkedin_icon {
  width: 70px;
}

.listfooter {
  margin-inline: auto;
}

@media screen and (max-width: 800px) {
  .footer_links {
    display: none;
  }

  .h3footer {
    margin-top: 3rem;

    text-align: center;
  }
}

@media screen and (min-width: 800px) {
  .footer_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px;
    padding-block: 30px;
    background-color: var(--secondary-color);
  }

  .footer_logo {
    width: 300px;
  }

  .footer_socials {
    padding-left: 30%;
  }

  .footer_links {
    padding-left: 30%;
  }

  .aboutus,
  .contactus {
    margin-bottom: 0.2rem;
  }

  .aboutus,
  .contactus,
  .submit li:hover {
    color: var(--background-color);
  }
}

/* footer slut */
