h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.hero_box .p span {
  font-weight: bold;
}

/*********** box styling **************/

.box_1 {
  background-color: #b1b287;
  padding: 20%;
  justify-content: center;
  text-align: center;
}
.box_2 {
  background-color: #cecfad;
  padding: 20%;
  justify-content: center;
  text-align: center;
}

.box_3 {
  background-color: #b1b287;
  padding: 20%;
  justify-content: center;
  text-align: center;
}
.box_4 {
  background-color: #cecfad;
  padding: 20%;
  justify-content: center;
  text-align: center;
}

.box_5 {
  background-color: #b1b287;
  padding: 20%;
  justify-content: center;
  text-align: center;
}
.box_6 {
  background-color: #cecfad;
  padding: 20%;
  justify-content: center;
  text-align: center;
}

/********hover effect boxes ***********/
.box_1,
.box_2,
.box_3,
.box_4,
.box_5,
.box_6 {
  position: relative; /* Needed for absolute positioning of <a> */
  cursor: pointer; /* Changes cursor to indicate it's clickable */
}

.box_link {
  position: absolute;
  inset: 0; /* Makes the <a> tag cover the entire parent div */
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

.box_1:hover {
  color: #fcf8f1;
  transform: scale(1.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 2;
}
.box_2:hover {
  color: #fcf8f1;
  transform: scale(1.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 2;
}
.box_3:hover {
  color: #fcf8f1;
  transform: scale(1.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 2;
}
.box_4:hover {
  color: #fcf8f1;
  transform: scale(1.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 2;
}
.box_5:hover {
  color: #fcf8f1;
  transform: scale(1.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 2;
}
.box_6:hover {
  color: #fcf8f1;
  transform: scale(1.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 2;
}

.button_mealtype {
  display: flex;
  justify-content: space-evenly;
  color: black;
  margin-top: 1%;
}
.meal_container {
  display: flex;
}
.mealtype {
  justify-content: center;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
  margin-inline: auto;
}
.mealtype a {
  text-decoration: none;
  text-decoration-line: none;
}
.svg_1 {
  justify-content: right;
}
.svg_2 {
  justify-content: left;
}
/******* mealtype ******/
.meal_title {
  text-align: center;
}

.meal_text {
  text-align: left;
}

@media screen and (max-width: 800px) {
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 8px;
  }

  .hero_section {
    background-image: url("https://cdn.dummyjson.com/recipe-images/6.webp");
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 104%;
    margin-left: -2%;
    margin-top: -2%;
    height: 370px;
  }
  .hero_box {
    position: absolute;
    left: 4.5%;
    top: 28%;
    background-color: #fcf8f1e3;
    padding: 4%;
    width: 70%;
    height: 30%;
  }
  h3 {
    font-family: "Darumadrop One";
    font-size: 2.5rem;
  }
  .mealtype {
    padding: 20px;
  }
  /** makes checkerboard pattern in mobile **/
  .category_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 104%;
    margin-left: -2%;
  }
  .box_1 {
    order: -6;
  }
  .box_2 {
    order: -5;
  }
  .box_3 {
    order: -3;
  }
  .box_4 {
    order: -4;
  }
  .box_5 {
    order: -2;
  }
  .box_6 {
    order: -1;
  }
  /******************* *************/
  .about_us {
    padding: 5%;
    margin-left: 3%;
  }
}

@media screen and (min-width: 800px) {
  .category_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 104%;
    margin-left: -2%;
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 8px;
  }

  .hero_section {
    background-image: url("https://cdn.dummyjson.com/recipe-images/6.webp");
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 104%;
    margin-left: -2%;
    margin-top: -2%;
    height: 700px;
  }
  .hero_box {
    position: absolute;
    left: 2.5%;
    top: 60%;
    background-color: #fcf8f1e3;

    padding: 2%;
    width: 37%;
    height: 33%;
  }
  h3 {
    font-family: "Darumadrop One";
    font-size: 4rem;
  }
  .about_us {
    padding: 5%;
    margin-left: 3%;
  }
}
