.hero_box .p span {
  font-weight: bold;
}

input.search {
  width: 260px;
  display: block;
  border-radius: 15%;
  padding: 9px 4px 9px 40px;
  background-color: white;
  background: transparent url("/images/search.svg") no-repeat 13px;
}
.grid_container {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

.icon_card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.card_text,
.icon_card {
  padding: 10px;
}
.card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  border: 4px solid #b1b287;
  border-radius: 35px;
  padding-bottom: 15px;
}

.icons_card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  gap: 5px;
}

.icon_card img {
  border-radius: 0%;
  width: 100%;
  object-fit: contain;
}

.card_button {
  padding-left: 13%;
  border-radius: 50px;
  border: 4px solid #b1b287;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card_button:hover {
  background-color: #b1b287;
  transition: transform 0.3s ease;
}

.card_button:hover a {
  color: #fcf8f1;
}
.card_button a {
  text-decoration: none;
  color: black;
}
.search_sort-by {
  display: grid;
  background-color: #b1b287;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
  height: 50px;
  padding-top: 15px;
  padding-left: 2%;
}

@media screen and (max-width: 800px) {
  .icons_card img {
    width: 93%;
  }
  .icons_card {
    margin-left: 5px;
    margin-right: 5px;
  }
  .icons_card p {
    font-size: x-small;
  }
}

@media screen and (min-width: 800px) {
  .grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    margin: 0 20px 0 20px;
    padding-bottom: 20px;
  }
  .search_sort-by {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .icon_card {
    border-radius: 0%;
    width: 50%;
    justify-content: center;
    object-fit: contain;
    margin-left: 20%;
  }
  .card_button {
    padding-left: 30%;
  }
}
